.Rproj.user
.Rhistory
.RData
.Ruserdata


#Archived Data
#=============
historical_data/
old_esp_data/

#Instructions Manual Support Materials
#=====================================
instructions/figs_tbls/*